/****************************************************************************** 

    File: style.css
    Author: universal css and design written by team Bugs pre phase 4
            responsive design by Carl Grissom
    Team: Bugs
    Date: 10/31/2017
    CS-321 pahse 4

    Description: Header file for graduate student pages
             
******************************************************************************/

/******************************************************************************
Clear Browser Styling Set Defaults   
******************************************************************************/

*{
    border:0;
    margin:0;
    padding:0;
    font-size:100%;
    -ms-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box; 
}

/******************************************************************************  
Universal Styling All Pages     
******************************************************************************/

.col-1 {width: 10%;}
.col-2 {width: 20%;}
.col-3 {width: 30%;}
.col-4 {width: 40%;}
.col-5 {width: 50%;}
.col-6 {width: 60%;}
.col-7 {width: 70%;}
.col-7-5{width: 75%;}
.col-8 {width: 80%;}
.col-9 {width: 90%;}
.col-10 {width: 100%;} 

[class*="col-"] {
    float: left;  
}

body {
	margin: 0 5%;
	padding: 0;
	line-height: 1.5em;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
    color: #fff;
    background: url("../images/back2.png");
}

h1,h2{ 
    margin: 0; 
    padding: 0; 
}

a:link, a:visited { 
    color: palevioletred; 
    text-decoration: none; 
    font-weight: normal; 
}

a:active, a:hover { 
    color: red; 
    text-decoration: underline; 
}

img { 
    margin: 0px; 
    padding: 0px; 
    border: none; 
}

.cleaner { 
    clear: both;  
    height: 0px; 
    font-size: 0px;  
}

#sidebar {
    float: left;
    background-image:
    linear-gradient(
    to right, 
    darkgreen, 
    green, 
    darkgreen
    );
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px;    
}

#sidebar h2{
    padding: 10px;
    text-align: center;
    font-size:1.4em;
}

.side_menu {
    list-style: none;
    padding: 5px;
    margin: 0 0 0 0;
}

.side_menu li {
    padding: 0;
    margin: 0;
}

.side_menu li a {
    display: block;
    color: lightgoldenrodyellow;
    padding: 5px 10px;
    font-size: 20px;
    border-bottom: 3px solid #777777;
}

.side_menu li a:hover {
    text-decoration: none;
    background: #85CD1C;
    color: #FFFFFF;
}

#content_wrapper {
    clear: both;
}

#content {
	float: right;
    background: white;
    color:black;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

.post_section {
	clear: both;
	position: relative;
	padding: 0 30px 30px 10px;
	margin-bottom: 20px;
}

.post_section .post_content {
	padding: 30px 0 0 100px;
}

.post_section h2 {
	color: green;
	font-size: 1.5em;
	font-weight: bold;
	padding: 10px 0 10px 0;
}

.post_section p {
	margin: 10px;
}

.post_section img {
	margin: 20px 0;
	border: 1px solid #000;
}

footer {
	clear: both;
	margin: 25px auto;
    text-align: center;
}

.vertical-menu {
    height: 300px;
    overflow-y: auto;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}

.tool{
    float: right;
}

.but {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.b:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.curriculum{
    background-color: lightgoldenrodyellow; 
    border-collapse: collapse; 
    margin-top: 0px;
}

/******************************************************************************
Responsive Design for Mobile Screens      
******************************************************************************/

  .sidebar{
    background-color:#fff;position:fixed!important;z-index:1;overflow:auto;height: 100%;}
.block{

    text-align:left;padding:8px 16px;
    display:block;text-align:left;border:none;outline:none;white-space:normal;float:none;
}
.card{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
leftanim{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}

.baritem{padding:8px 16px;width:auto;display:block;width:100%;border:none;outline:none;white-space:normal;float:none;text-align:center;}

.button{border:none;display:inline-block;outline:0;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}

.button:disabled{cursor:not-allowed;opacity:0.3}.disabled *,:disabled *{pointer-events:none}
.button:hover{color:#000!important;background-color:#ccc!important}
.large{font-size:18px!important}
.theme{color:#fff!important;background-color:darkgreen!important}
.xlarge{font-size:24px!important}
.container:after,.container:before{content:"";display:table;clear:both;
padding:0.01em 16px}

button {
    float: left;
    font-size: 20px;
}

button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ccc;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}
button.btnhide:after{
    content: ""!important;
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.panel a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    
}
.panel a:hover {

    background-color: gray;
}
    @media only screen and (max-width: 767px) {
    
    .no_mobile{
        display: none;
    }
    .desktop_only{
        display: none;
    }
    .tablet_only{
        display: none;
    }
    .site_title{
        width:100%;
    }
    #site_title img{
        width: 100%;

    }
    
    [class*="col-"] {
        width: 100%;
    }

    .post_section h2{
        font-size: 1.2em;
    }
        
    }
/******************************************************************************  
Responsive Design for Desktop Screens     
******************************************************************************/

    @media only screen and (min-width: 1321px){
        .no_desktop{
            display: none;
        }
        .tablet_only{
            display:none;
        }
    
        #header {
            width: 100%;
            height: 200px;
            margin: 20px auto;
        }
        #site_title {
            float: left;
            margin-top: 120px;
            width: 30%;
            height: 200px;
            display: block;
            margin: 0px;
            padding: 0px;

        }
        .slidemove {
            float: right;
            margin-top: 120px;
            width: 70%;
            display: block;
            margin: 0px;
            padding: 0px;
        }

        .slider{
            height: 200px;
        }

        .mySlides {
            display:none;
        }

        #menu {
            width: 100%;
            height: 50px;
            margin: 20px auto;
            background: grey;
            
        }

        #menu ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        #menu li {
            float: left;
            font-size: 20px;
        }

        #menu li a, .dropbtn {
            display: inline-block;
            color: lightgray;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        #menu li a:hover,#menu .dropdown:hover .dropbtn {
            background-color: crimson;
        }

        #menu li.dropdown {
            display: inline-block;
        }
        #menu .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 200px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        #menu .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }

        #menu .dropdown-content a:hover {
            background-color: #f1f1f1
        }

        #menu .dropdown:hover .dropdown-content {
            display: block;
        }

        iframe{
            display: block; 
            margin-left: auto; 
            margin-right: auto; 
            width: 475px;
        }
    }


/******************************************************************************
Responsive Design for Tablet Screens       
******************************************************************************/

@media only screen and (min-width:768px) and (max-width: 1320px){
    
    .desktop_only{
        display: none;
    }
    .no_tablet{
        display:none;
    }
    .site_title{
        height:200px;
        width:100%;
    }
    #site_title img{
        width: 100%;

    }
}